* {
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 1349px;
    height: 600px;
    margin: 0;
    padding: 0;
}

.banner {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('./home-banner.jpg');
    background-size: cover;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.nav-bar {
    position: fixed;
    height: 20%;
    width: 100%;
    position: relative;
}

.banner_button  {
    position: absolute;
    right: 100px;
    top: 40px;
}

.banner_button > button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: medium;
    margin-right: 50px;
}

.nav-bar > img {
    margin-left: 70px;
    margin-top: 30px;
}

.banner_button > button:hover {
    border: solid 1px;
}

/* Heading */
.banner_text {
    border: solid brown 4px;
    display: inline-block;
    position: absolute;
    left:100px;
    font-size: 2rem;
    color: white;
}

/* ALways wrap elements around div */

.banner_text > p {
    position: absolute;
    left: 250px;
    top: 100px;
    color: #D94243;
}

/* Card Design START */

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    right: 50px;
    color: #EF4647;
}

table {
    margin: 0 auto;
    border: 2px solid black;
  }
  table td {
    padding: 0.7rem;
  }

  .card > input {
      border: solid #EF4647 2px;
      border-radius: 5px;
      width: 80%;
      height: 40px;
      padding-left: 40px;
      padding-right: 20px;
  }

  .card > select {
    border: solid #EF4647 2px;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    padding-left: 40px;
    padding-right: 20px;
  }

  .search_button {
    background-color: #EF4647; 
    color: white; 
    border: none; 
    width: 40%; 
    height: 50px;
    display: block;
    border-radius: 50px;
    position: relative;
    left: 200px;
  }
  /* Card Design END */
