* {
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 1349px;
    height: 600px;
    margin: 0;
    padding: 0;
}

.banner {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('./home-banner.jpg');
    background-size: cover;
    border: solid blue 2px;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.nav-bar {
    position: fixed;
    border: solid black 2px;
    height: 20%;
    width: 100%;
}

.nav-bar > button {
    border: solid green 4px;
    color: white;
    background-color: transparent;
    font-size: medium;
}

.nav-bar > img {
    /* border: solid purple 4px; */
    margin-left: 70px;
    margin-top: 30px;
}